*~
*.o
.gdb_history
data/
a.out
server
rdb
config.h
Config
*.pem
*.crt

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h?
compile
.deps/
