server {
    port 8080           # port number to listen on

    # An IPv4 address to bind to. Use empty or * to accept all connections.
    # If the statement is missing, no IPv4 traffic is accepted
    ipv4 127.0.0.1

    # An IPv6 address to bind to. Use empty or * to accept all connections.
    # If the statement is missing, no IPv6 traffic is accepted
    ipv6 ::1
}

# define virtual hosts
host {
    # Hostname in HTTP protocol to map, use * for default
    hostname "*"

    # directory to map the hostname to
    datadir "./data"

    # a default path to use when root is requested
    index "index.html"
}

